html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.card-img {
  width: 17%;
  position: relative;;
  transform: translateX(240%);
}

h2 {
  margin-bottom: 0;
  margin-top: 1;
  font-weight: normal;
}

p {
  margin-top: 0;
  line-height: 1.3;
}

.cards {
  padding-left: .5em;
}

@media only screen and (min-width: 25em) {

  .card {
    display: inline-block;
  }

  .card-img {
    transform: translateX(5%);
    display: block;
    width: 13%;
  }

  .card-body {
    transform: translate(20%, -120%);
    margin-right: 6em;
    margin-left: 1em;
  }

  .cards {
    margin-top: 1em;
  }

  .card + h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: .2em;
  }

}
