@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.card-img {
  width: 17%;
  position: relative;;
  transform: translateX(240%);
}

h2 {
  margin-bottom: 0;
  margin-top: 1em;
  font-weight: normal;
}

p {
  margin-top: 0;
  line-height: 1.3;
}

.cards {
  padding-left: .5em;
}

@media only screen and (min-width: 25em) {

  .card {
    display: inline-block;
  }

  .card-img {
    transform: translateX(5%);
    display: inline-block;
    width: 13%;
  }

  .card-body {
    transform: translate(20%, -90%);
    margin-right: 6em;
    margin-left: 1em;
  }

  .cards {
    margin-top: 1em;
  }

  .card + h2 {
    margin-top: 0;
  }

  p {
    margin: 0;
  }

  h2 {
    margin-bottom: .2em;
  }

  * {
    margin: 0;
    padding: 0;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .card {
    display: inline-block;
    float: left;
    width: 32%;
    transform: translate(0%, 70%);
  }

  .card-img {
    width: 25%;
    display: block;
    transform: translate(195%, -205%);
  }

  .card-body {
    margin: 0;
    margin-top: 1em;
    padding: .23em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

}
